header {
  @include flex-between;

  height: 75px;
  position: fixed;
  right: 0;
  left: 0;

  z-index: 100;

  .header-left {
    height: 60px;

    svg {
      height: 100%;
    }
  }

  .header-center {
    @include flex-center;

    height: 100%;
    flex-grow: 1;

    .line {
      @include flex-center;
      flex-grow: 1;
    }

    .line::after {
      content: '';
      display: block;
      height: 0.5px;
      flex-grow: 1;

      background-color: $accent1;

      margin: 0 10px
    }
  }

  .header-right {
    height: 60px;

    svg {
      height: 100%;
    }
  }
}